body{
    margin: 0;
    font-family: sans-serif;
}


body header{
background-color: grey;
padding: 1rem 1rem 2rem 1rem;

}

body header h1{
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}


body header a{
    text-decoration: none;
}

body header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   }

body header ul li{
    background-color: aqua;
padding: 1rem 0rem;
margin: 0rem 0rem 0rem;
color: white;
flex-basis: 30%;
text-align: center;

}
body header ul li a{
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 1.5rem;
    
}
body section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    border: 2px solid grey;
}
body section article figure{
    margin: 0;
    padding: 0;
}
body section article figure img{
    max-width: 100%;
}

body section article h1{
    padding: 1rem;
}
body section article p{
    letter-spacing: 1.5px;
    padding: 1rem;
    font-size: 1.2rem;
}

 .articulo-especial{
    border: 0;
    
}

.articulo-especial .flotando{
    display: flex;
    flex-direction: row;
    
}

.articulo-especil h1{

}
.articulo-especial figure{
    margin: 0;
    padding: 1rem 0;
    width: 40%;
}
.articulo-especial figure img{
    max-width: 100%;
}
.dosparrafos p{
    margin: 0;
    padding: 1rem;
}
.articulo-especial .dosparrafos{
    width: 58%;
    
    padding: 0 2%;

}

footer {
    background-color: grey;
    padding: 2rem;

}
footer > p{
    font-size: 1.5rem;
    font-weight: 800;
}
footer .pie{
    display: flex;
    flex-direction: row;
}

footer .pie >*{
    flex-basis: 50%;
}

footer .pie p{
    
    font-size: 1.2rem;
}

footer .pie li{
    height: 2rem;
}

footer .pie li a{
    text-decoration: none;
    color: aqua;
    letter-spacing: 2px;
}

@media (min-width: 800px){
    body{
        display: flex;
    }
    body header ul{
        flex-direction: column;
        
    }
    body header ul li{
     flex-basis: 0%;
     margin-bottom: 1rem;
    
    }   

    .contenedor .articulos  {
        flex-direction: row;
        display: flex;
    }
 
    
}