
.contenedor section{
    padding: 0 2rem;
}

 .formulario label, .formulario input, .formulario textarea, .formulario select{ 
 
    margin: 1rem 0rem;
    width: 100%;
    
}

.formulario input, .formulario select{
    height: 2rem;
}

.formulario fieldset{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border: none;
    padding: 0;
}

.formulario .boton{
    display: inline-block;
    background-color: aqua;
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    color: white;
}

.contenedor section.redes {
 background-color: grey;

 padding: 1rem 1rem 2rem 1rem;
 border: 2px solid black;
 margin: 2rem 2rem ;
}

.red{
    font-size: 1.2rem;
    line-height: 2rem;
}
.tel::before{
    content: url(/img/phone.png);
}

.facebook::before   {
    content: url(/img/facebook.png);
}

.googlemaps img{
    max-width: 100%;
}

@media (min-width: 800px){
.fillo {
    display: flex;
    justify-content: row;

}

 .contenedor >h2{
     text-align: center;
 }
 .redes{
    
     align-self: flex-start;
 }
 .formulario, .redes {
     width: 50%;
 }
 .googlemaps{
     order: -1;
width: 50%;
 }


}