h2{
    font-size: 2rem;
    margin-left: 2rem;
}


body section article{
    flex-direction: row;
    justify-content: flex-start;
    border: 0;
    box-sizing: content-box;
}

body article >*{
    flex-basis: 50%;
}

body section article  figure
{
    
}
.producto header{
    background-color: white;
    margin: 0;
    padding: 0;
    
}

.producto header h1{
    color: black;
    text-align: left;
    padding: 0 1rem;
    margin: 0;
    font-size: 2rem;
}

.boton{
    background-color: aqua;
padding: 1rem 2rem;
margin: 0rem 1rem 2rem;
color: white;
align-self: flex-start;
text-align: center;

}


table{
    width: 90%;
    font-size: 1.2rem;
    border:0;
    margin: 0 5%;;
    border-collapse: collapse;
}

th{
    text-align: left;
    padding: 1rem;
}
td{
margin: 0;
padding: 1rem;
height: 2rem;

}



table caption {
 margin-bottom: 2rem;   
}

table tbody > :nth-child(odd) {
    background-color: lightslategray;
}

@media (min-width: 800px){
    .arti-productos h2{
text-align: center;        
    }
}
@media (min-width: 1200px){

    .arti-productos h2{
        width: 100%;
    }
    .arti-productos{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    }
    .arti-productos > article h1{
        font-size: 1.5rem;
    }
    .arti-productos > article{
        flex-basis: 43%;
    }

    
    body section article{
        flex-direction: row;
        justify-content: flex-start;
        border: 0;
    
    }
}